
.checkbox-group {
    margin-top: 5%;
    margin-bottom: 5%;
}
.checkbox-group input[type="checkbox"] {
    display: none; 
}


.checkbox-group label {
    display: flex; 
    align-items: center; 
    margin: 5px; 
    font: 16px "Arial";
    color: #000000;
}


.checkbox-group label span {
    position: relative;
    padding-left: 35px; 
}


.checkbox-group label span::before {
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 20px; 
    height: 20px; 
    border: 2px solid #5c00fc; 
    border-radius: 4px; 
    background-color: rgba(255, 255, 255, 0); 
}


.checkbox-group input[type="checkbox"]:checked + span::before {
    background-color: #f30081;
    border: 2px solid #f30081;
}


.checkbox-group input[type="checkbox"]:checked + span::after {
    content: "✔"; 
    position: absolute; 
    left: 5px; 
    top: 50%; 
    transform: translateY(-50%); 
    color: white; 
    font-size: 16px; 
}
